body {
        
}

article {
    width: 600px;
    font-size: 20px;
    margin: 2em auto;
    border: 1px;
    border-color: red;
    border-style: solid; 
    padding: 1.8em 2em;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0,11);
    
}
h1.page-title{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    background-color: rosybrown;
}
article h1 {
    font-size: 2.2em;
    font-family: serif;
}
.img-content {
    width: 100%;
    Display: block;
}
p{
  font: 1.2em;  
  line-height: 1.6em;
  color: grey;
  font-family: sans-serif;
  margin-bottom: 2.6em;
}

span, time {
    font-family: sans-serif; 
     margin-right: 1em; 
     font-weight: 600;
     color: grey;
}